<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WeighR Monitoring</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/introjs.css" rel="stylesheet" />
    <link href="~/Content/jplist-custom.css" rel="stylesheet" />
    <link href="~/Content/jquery.news-ticker.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/nestable.css" rel="stylesheet" />
    <link href="~/Content/pace.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/zabuto_calendar.min.css" rel="stylesheet" />
   
</head>
<body>
    @using Microsoft.AspNet.Identity
    @using WeighRMonitoring.Extensions
    @if (Request.IsAuthenticated)
    {
        <input type="hidden" id="ClientId" value="@User.Identity.GetClientId()" />
    }
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">

            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a id="logo" href="/Home" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">WeighR</span><span style="display: none" class="logo-text-icon">µ</span></a>
                </div>
                <div class="topbar-main">
                    <a id="menu-toggle" href="#" class="hidden-xs"><i class="glyphicon glyphicon-bars"></i></a>
                </div>
            </nav>
            <!--BEGIN MODAL CONFIG PORTLET-->
            <!--END MODAL CONFIG PORTLET-->
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                 data-position="right" class="navbar-default navbar-static-side">
                <div class="sidebar-collapse menu-scroll">
                    <ul id="side-menu" class="nav">

                        <div class="clearfix"></div>
                        <li>
                            <a href="/Home">
                                <div class="glyphicon glyphicon-home"></div>
                                </i><span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Dashboard">
                                <div class="glyphicon glyphicon-dashboard"></div>
                                </i><span class="menu-title">Monitoring</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Reports/Index/1">
                                <div class="glyphicon glyphicon-list-alt"></div>
                                </i><span class="menu-title">Production Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Reports/Index/2">
                                <div class="glyphicon glyphicon-list-alt"></div>
                                </i><span class="menu-title">Matchine Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Reports/Index/3">
                                <div class="glyphicon glyphicon-list-alt"></div>
                                </i><span class="menu-title">Batch Reports</span>
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
            <!--END SIDEBAR MENU-->
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
               
                @RenderBody()

                <!--BEGIN FOOTER-->
                @*<div id="footer">
                    <div class="copyright">
                        <a href="http://cloresol.com">@DateTime.Now.Year © Cloresol - Remote Monitoring Simplified</a>
                    </div>
                </div>*@
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->


        </div>

    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
            type="text/javascript"></script>*@
</body>
</html>

